@import "../../utils/css/variables.scss";

.app-bar {
	flex-grow: 1;

	.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
		&__menu-button {
			margin-right: $spacing-md;
		}

		&__title {
			flex-grow: 1;
		}

		&__user-button {
			justify-self: flex-end;
		}

		.app-logo {
			max-height: rem-calc(60px);
			max-width: 15%;
			padding: $spacing-md 0;
		}
	}
}
